
    .footer-box {
      display: block;
      
    }
    
    .footer-invite {
      font-style: normal;
      font-weight: var(--primary-font-weight);
      font-size: var(--primary-font-size);
      line-height: var(--primary-line-height);
      text-transform: uppercase;
      color: var(--bg-color1);
    }
    
    .footer__block_invite {
      display: block;
      align-content: center;
      margin: 60px 0;
    }
}
    
   
  @media screen and (min-width:480px) {
   
  }
  
  @media screen and (min-width:768px) {
    .footer-box {
      display: flex;
       align-items: baseline;
      }

      .footer-form-conteiner {
        display: block;
      }
      
  }
  
  @media screen and (min-width:1200px) {
    .footer-box {
      display: flex;
       align-items: baseline;
      }

      .footer__block_invite {
        display: block;
        align-content: center;
        margin-right: auto;
      }
  }
  
  .location {
    color: var(--bg-color1);
    transition: color 250ms var(--primary-timing-function);

    &:hover, &:focus {
  color: var(--accent-color);
  transition: color 250ms var(--primary-timing-function);
    }
  }
  
  .footer__menu-contacts {
    color: var(--menu-contacts-footer-color);
    transition: color 250ms var(--primary-timing-function);

    &:hover, &:focus, {
      color: var(--accent-color);
      transition: color 250ms var(--primary-timing-function);
    }

    .footer-invite {
      font-style: normal;
      font-weight: var(--primary-font-weight);
      font-size: var(--primary-font-size);
      line-height: var(--primary-line-height);
      text-transform: uppercase;
      color: var(--bg-color1);
    }
    
  }
    
  
  .footer__gap {
    margin-bottom: 9px;
  }
  
  .footer-page-bg {
    background-color: var(--secondary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  // .footer-box {
  //   display: flex;
  //   align-items: baseline;
  // }
  
  .footer__block_invite {
    display: block;
    align-content: center;
    margin-right: auto;
  }
  
  .footer-invite {
    font-style: normal;
    font-weight: var(--primary-font-weight);
    font-size: var(--primary-font-size);
    line-height: var(--primary-line-height);
    text-transform: uppercase;
    color: var(--bg-color1);
  }
  
  .footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--social-link_footer-background-color);
    transition: background-color 250ms var(--primary-timing-function),
      fill 250ms var(--primary-timing-function);

      &:hover, &:focus {
    background-color: var(--accent-color);
    fill: var(--bg-color1);
    transition: color 250ms var(--primary-timing-function);
  }
  }
  
  .footer__social-icon {
    fill: var(--bg-color1);
  }