
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

// .page-header {
//   padding:10px 0 ;
// }



// .header-container {
//     display: flex;
//     flex: content;
//     align-items: center;
//   }
  