.topic {
  font-weight: var(--primary-font-weight);
  font-size: 36px;
  line-height: 1.17;
  text-align: var(--primary-text-align);
}

.virtues-icon-box {
  width: 100%;
  max-width: 450px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--third-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;

  @media screen and(min-width: 768px) {
    width: 100%;
    max-width: none;
  }
}

.our-virtues__title {
  font-weight: var(--primary-font-weight);
  line-height: var(--primary-line-height);
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: var(--primary-font-size);
  text-align: center;

  @media screen and(min-width: 768px) {
    text-align: left;
  }
}

.our-virtues__desc {
  line-height: 1.71;
  color: var(--paragraf-text-color);
}

.our-virtues-conteiner {
  @media screen and(min-width: 768px) {
    width: 354px;
  }

  @media screen and(min-width: 1200px) {
    width: 270px;
  }
}

.virtues__icon {
  width: 70px;
  height: 70px;
}

.our-virtues-list {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  gap: 30px;

  // justify-content: space-between;
}
