.main_title {
  margin-bottom: 30px;
}

.top-main-index-bg {
  @media screen and (min-device-pixel-ratio: 1) and (max-width: 767px),
    screen and (min-resolution: 96dpi) and (max-width: 767px),
    screen and (min-resolution: 1dppx) and (max-width: 767px) {
    background-image: linear-gradient(
        var(--gradient-color),
        var(--gradient-color)
      ),
      url('../images/mob/hero-bg-Img_mob@1x.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: linear-gradient(
        var(--gradient-color),
        var(--gradient-color)
      ),
      url('../images/mob/hero-bg-Img_mob@2x.jpg');
  }

  @media screen and (min-device-pixel-ratio: 1) and (min-width: 768px),
    screen and (min-resolution: 96dpi) and (min-width: 768px),
    screen and (min-resolution: 1dppx) and (min-width: 768px) {
    background-image: linear-gradient(
        var(--gradient-color),
        var(--gradient-color)
      ),
      url('../images/tablet/hero-bg-Img_tablet@1x.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(
        var(--gradient-color),
        var(--gradient-color)
      ),
      url('../images/tablet/hero-bg-Img_tablet@2x.jpg');
  }

  @media screen and (min-device-pixel-ratio: 1) and (min-width: 1200px),
    screen and (min-resolution: 96dpi) and (min-width: 1200px),
    screen and (min-resolution: 1dppx) and (min-width: 1200px) {
    background-image: linear-gradient(
        var(--gradient-color),
        var(--gradient-color)
      ),
      url('../images/desktop/hero-bg-Img_desktop@1x.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(
        var(--gradient-color),
        var(--gradient-color)
      ),
      url('../images/desktop/hero-bg-Img_desktop@2x.jpg');
  }

  background-position: center;
  background-size: cover;
  background-color: var(--hero-bg-color);
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin: 0 auto;

  @media screen and(min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.top-main-index-button {
  font-size: var(--secondary-font-size);
  font-weight: var(--primary-font-weight);
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: var(--primary-text-align);
  letter-spacing: 0.06em;
  color: var(--bg-color1);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px var(--button-text-shadow-fourth-color);
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  padding: 10px 32px;
  transition: background-color 250ms var(--primary-timing-function);

  &:hover,
  &:focus {
    background-color: var(--button-hover-focus-color);
    transition: color 250ms var(--primary-timing-function);
  }
}

.top-main-index-title {
  font-weight: 900;

  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: var(--primary-text-align);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-color1);
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width: 768px) {
    width: 360px;
  }

  @media screen and(min-width: 1200px) {
    font-size: 44px;
    width: 696px;
  }
}
