.portfolio-project__text {
  font-weight: var(--primary-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-project__kind {
  font-size: var(--secondary-font-size);
  line-height: 1.88;
  color: var(--paragraf-text-color);
}

.portfolio-project__text,
.portfolio-project__kind {
  margin-right: auto;
}

.portfolio-project-frame {
  padding: 20px 24px;
}

.portfolio__card-link:hover .overlay,
.portfolio__card-link:focus .overlay {
  transform: translateY(0%);
}

.portfolio-list-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__card-link {
  display: block;
  color: var(--main-text-color);
  transition: box-shadow 250ms var(--primary-timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px var(--button-text-shadow-third-color),
      0px 4px 4px var(--shadow-fourth-color),
      1px 4px 6px var(--shadow-third-color);
  }
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms var(--primary-timing-function);
  background-color: var(--accent-color);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: var(--third-font-weight);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--bg-color1);
}

.portfolio-btn-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;
}
