.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-secondary-color);
    z-index: 101;
    transition: opacity 250ms var(--primary-timing-function),
      visibility 250ms var(--primary-timing-function);

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
     }
  }
  
  
  