.navigation__logo {
  padding: 16px 0;
  font-family: var(--secondary-font);
font-style: normal;
font-weight: var(--primary-font-weight);
font-size: 24px;
line-height: 1.16;
letter-spacing: var(--primary-letter-spacing);
color: var(--main-text-color);;
}


@media screen and (min-width:768px) {
  .navigation__logo {
    // text-decoration: none;
    //   font-family: var(--secondary-font);
    //   font-weight: var(--primary-font-weight);
    //   font-size: var(--third-font-size);
    //   line-height: var(--secondary-line-height);
    //   letter-spacing: var(--primary-letter-spacing);
    //   color: var(--logo-navigation-text-color);
      margin-right: 88px;
      padding-top: 26px;
      padding-bottom: 26px;
    }
}

@media screen and (min-width:1200px) {
  .navigation__logo {
    text-decoration: none;
      font-family: var(--secondary-font);
      font-weight: var(--primary-font-weight);
      font-size: var(--third-font-size);
      line-height: var(--secondary-line-height);
      letter-spacing: var(--primary-letter-spacing);
      color: var(--logo-navigation-text-color);
      margin-right: 93px;
      padding-top: 24px;
      padding-bottom: 25px;
    }
}


// .navigation__logo {
  // text-decoration: none;
  //   font-family: var(--secondary-font);
  //   font-weight: var(--primary-font-weight);
  //   font-size: var(--third-font-size);
  //   line-height: var(--secondary-line-height);
  //   letter-spacing: var(--primary-letter-spacing);
  //   color: var(--logo-navigation-text-color);
//     margin-right: 93px;
//     padding-top: 24px;
//     padding-bottom: 25px;
//   }

  

.footer__logo {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: var(--primary-font-weight);
    font-size: var(--third-font-size);
    line-height: var(--secondary-line-height);
    letter-spacing: var(--primary-letter-spacing);
    color: var(--bg-color1);
  }

  