:root {
    --accent-color: #2196f3;
    --bg-color1: #ffffff;
    --hero-bg-color: #c4c4c4;
    --main-text-color: #212121;
    --secondary-bg-color: #2f303a;
    --third-bg-color: #f5f4fa;
    --gradient-color: rgba(47, 48, 58, 0.4);
    --paragraf-text-color: #757575;
    --button-hover-focus-color: #188ce8;
    --logo-navigation-text-color: #000000;
    --menu-contacts-footer-color: rgba(255, 255, 255, 0.6);
    --line-in-header-color: #ececec;
    --icon-color: #afb1b8;
    --social-link_footer-background-color: rgba(255, 255, 255, 0.1);
    --button-text-shadow-primary-color: rgba(0, 0, 0, 0.1);
    --button-text-shadow-secondary-color: rgba(0, 0, 0, 0.08);
    --button-text-shadow-third-color: rgba(0, 0, 0, 0.12);
    --button-text-shadow-fourth-color: rgba(0, 0, 0, 0.15);
    --shadow-primary-color: rgba(0, 0, 0, 0.14);
    --shadow-secondary-color: rgba(0, 0, 0, 0.2);
    --shadow-third-color: rgba(0, 0, 0, 0.16);
    --shadow-fourth-color: rgba(0, 0, 0, 0.06);
    --border-color: #eeeeee;
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --secondary-font-size: 16px;
    --primary-font-size: 14px;
    --third-font-size: 26px;
    --primary-font-weight: 700;
    --secondary-font-weight: 500;
    --third-font-weight: 400;
    --primary-line-height: 1.14;
    --secondary-line-height: 1.19;
    --primary-letter-spacing: 0.03em;
    --secondary-letter-spacing: 0.02em;
    --primary-text-align: center;
    --primary-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  